@charset "UTI-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
  --cor1: #034c8c;
  --cor2: #023059;
  --cor3: #fabc05;   
  --cor4: #4ea7f4;    
  --cor5: #bb9828;
  --cor6: #b8b8b8;
  --cor7: #6c6c6c;
  --cor8: #ffffff;
  --cor9: #000000;

    --fonte1: 'roboto-thin','helvetica','sans-serif';
    --fonte2: 'roboto-light','helvetica','sans-serif';
    --fonte3: 'roboto-regular','helvetica','sans-serif';
    --fonte4: 'roboto-medium','helvetica','sans-serif';
    --fonte5: 'roboto-bold','helvetica','sans-serif';
}

* {
    padding: 0px;
    margin: 0px;
}

.my-dados {
  background-color: var(--cor3);
  font-family: var(--fonte3);
  max-width: 1080px;
  max-height: 2400px;
}

.my-dados .bar-up {
  background-color: var(--cor9);
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
  height: 5vh;
}

.my-dados .bar-up .itens-up {
  display: flex;
}

.my-dados .bar-up .itens-up li{
  padding: 5px 10px;
  list-style-type: none;
}

.my-dados .bar-up .itens-up li img{
  height: 3vh;
  padding: 1px;
}
  
.my-dados .bar-up .itens-up li p{
  font-family: var(--fonte1);
  color: var(--cor3);
  font-size: 1.2rem;
}

.my-dados .res-detail{
    display: flex;
    justify-content: left;
    vertical-align: middle;
    align-items: center;
    padding-top: 10px;
    list-style-type: none;
    border-bottom: 5px solid #4ea7f4;
}

.my-dados .res-detail li a img{
    max-height: 3vh;
    margin-left: 10px;
}
  
.my-dados .res-detail li h2{
  font-family: var(--fonte5);
  color: var(--cor2);
  font-size: .8rem;
  padding-left: 40px;
}

.dados{
    background-color: var(--cor8);
    margin: auto;
    max-width: 90vw;
    min-height: 70vh;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dados .my-foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90vw;
    height: 23vh;
    background-color: var(--cor6);
    position: relative;
}
  
.dados .my-foto img{
  height: 70%;
  padding: 5px;
  margin: auto;
}

.dados .my-foto .adiciona img{
  position: absolute;
  height: 5vw;
  bottom: 25%;
  right: 32%;
  padding: 5px;
  background-color: var(--cor1);
  border: 2px solid var(--cor1);
  border-radius: 50%;
}

.dados .my-foto h1{
  font-family: var(--fonte5);
  font-size: .9rem;
  padding: 5px 10px 0px 10px;
  background-color: var(--cor8);
  color: var(--cor2);
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dados .my-detail{
  display: flex;
  flex-direction: column;
}

.dados .my-detail .reg-dados{
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  margin: 10px 0px;
}

.dados .my-detail .reg-dados figure{
  display: flex;
  align-items: center;
} 
  
.dados .my-detail .reg-dados figure img{
  height: 4vh;
}

.dados .my-detail .reg-dados .campo{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
}

.dados .my-detail .reg-dados .campo label{
  font-family: var(--fonte1);
  font-size: .8rem;
  color: var(--cor7);
  padding-bottom: 4px;
}

.dados .my-detail .reg-dados .campo input{
  width: 70vw;
}

.dados .my-detail button{
  background-color: var(--cor2);
  font-family: var(--fonte4);
  color: var(--cor8);
  padding: 5px 15px;
  border: none;
  margin: 5px auto;
  border-radius: 10px;
  justify-content: center;
}

.bar-down {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  list-style-type: none;
}

.bar-down a li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  min-width: 70px;
  text-decoration: none;
}

.bar-down a li img{
  height: 3vh;
  padding: 1px;
}

.bar-down a li p{
  font-family: var(--fonte1);
  color: var(--cor2);
  font-size: .8rem;
  padding-top: 5px;
  text-decoration: none;
}

.bar-down a li a:hover{
  background-color: var(--cor8);
  text-decoration: none;
}
