@charset "UTI-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
    --cor1: #034c8c;
    --cor2: #023059;
    --cor3: #fabc05;   
    --cor4: #4ea7f4;    
    --cor5: #bb9828;
    --cor6: #b8b8b8;
    --cor7: #6c6c6c;
    --cor8: #ffffff;
    --cor9: #000000;


    --fonte1: 'roboto-thin','helvetica','sans-serif';
    --fonte2: 'roboto-light','helvetica','sans-serif';
    --fonte3: 'roboto-regular','helvetica','sans-serif';
    --fonte4: 'roboto-medium','helvetica','sans-serif';
    --fonte5: 'roboto-bold','helvetica','sans-serif';
}



.menu {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    margin: auto;
    list-style-type: none;
    border-bottom: 2px solid #034c8c;
  }
 
.menu li a{
  font-family: var(--fonte4);
  color: var(--cor5);
  font-size: 1.2rem;
  text-decoration: none;
}

.menu li a:hover{
  color: var(--cor3);
  padding: 0px 15px 19px 15px;
  border-bottom: 5px solid #4ea7f4;
}

.menu .ativa a{
  color: var(--cor3);
  padding: 0px 15px 19px 15px;
  border-bottom: 5px solid #4ea7f4;
}
.res-itens{
  padding: 15px 0px;
}

.res-itens h1{
  font-family: var(--fonte4);
  color: var(--cor8);
  font-size: 1.3rem;
  text-align: left;
  padding: 10px 5px;
}

/* --------- zeladoria.html -------- */

.dem-detail{
  padding-top: 20px;
}

.dem-detail .dem-menu{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
}

.dem-detail .dem-menu .ativa a{
  background-color: var(--cor1);
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--cor8);
  font-weight: bold;
  text-decoration: none;
}

.dem-detail .dem-menu li a{
  font-family: var(--fonte4);
  color: var(--cor6);
  padding: 10px 20px;
  text-decoration: none;
}

.dem-detail .dem-menu li a:hover{
  background-color: var(--cor4);
  font-family: var(--fonte4);
  color: var(--cor8);
  font-size: 1.1rem;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
}

.demandas {
  background-color: var(--cor1);
  width: 90vw;
  height: 60vh;
  margin: auto;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.demandas::-webkit-scrollbar{
  width: 2px;
  background-color: var(--cor1);
  border-radius: 2px;
}

.demandas::-webkit-scrollbar-track{
  background-color: var(--cor2);
}

.demandas::-webkit-scrollbar-thumb{
  background-color: var(--cor4);
  border-radius: 2px;
}

.demandas ul{
  list-style-type: none;
  padding: 10px;
}

.demandas ul li{
  display: flex;
  padding-bottom: 9px;    
}

.demandas ul li a img{
  height: 3vh;
  padding: 5px;
  vertical-align: middle;
}

.demandas ul li span{
  font-family: var(--fonte2);
  font-size: 1rem;
  color: var(--cor3);
}

.areas{
  background-color: var(--cor2);
  display: flex;
  justify-content: space-around;
  row-gap: 10px;
  margin: 10px 10px;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  border-radius: 10px;
}

.areas a{
  background-color: var(--cor1);
  width: 40vw;
  height: 20vh;
  border-radius: 10px;
}

.itens{
  display: block;
  align-items: normal;
}

.areas a img{
  padding: 10px 5px 5px 5px;
}

.areas a h1{
  font-family: var(--fonte4);
  font-size: .9rem;
  color: var(--cor6);
  text-align: left;
  padding: 5px;
}

.areas a p{
  font-family: var(--fonte1);
  font-size: .8rem;
  color: var(--cor6);
  text-align: left;
  padding: 5px;
}

.res-detail {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  align-items: center;
  padding-top: 20px;
  list-style-type: none;
  border-bottom: 5px solid #4ea7f4;
}

.res-detail li a img{
  max-height: 3vh;
  margin-left: 10px;
}

.res-detail li h2{
  font-family: var(--fonte5);
  color: var(--cor3);
  font-size: .8rem;
  padding-left: 40px;
}

.data-detail{
  background-color: var(--cor1);
  margin: auto;
  max-width: 90vw;
  min-height: 70vh;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.data-detail .pic-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90vw;
  height: 23vh;
  position: relative;
}

.data-detail .pic-detail img{
  height: 100%;
  width: 100%;
}

.data-detail .pic-detail h1{
  background-color: var(--cor1);
  font-family: var(--fonte5);
  max-width: 50%;
  color: var(--cor8);
  padding: 5px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.data-detail .pic-detail h2{
  background-color: var(--cor1);
  font-family: var(--fonte5);
  font-size: 1rem;
  max-width: 50%;
  color: var(--cor8);
  padding: 5px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.data-detail .label-detail{
  padding: 15px 20px;
}

.label-detail{
  display: block;
  font-family: var(--cor1);
  color: var(--cor6);
}

.label-detail .grupo{
  display: flex;
  flex-direction: column;  
  margin-bottom: 30px;
}

.label-detail .grupo input#data{
  width: 150px;
}

.label-detail label{
  font-family: var(--fonte1);
  color: var(--cor6);
  font-size: .85rem;
  padding-bottom: 5px;
}

.label-detail .campo{
  display: flex;
  flex-direction: row; 
  margin-bottom: 30px;
}


.label-detail .camp1{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.label-detail .camp1 input{
  width: 150px;
}

.label-detail .camp2{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.label-detail .camp2 input{
  width: 120px;
}

.switch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.switch .switch-wrapper{
  display: inline-block;
  width: 35px;
  height: 20px;
  position: relative;
}

.switch .switch-wrapper .switch-button{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: var(--cor6);
}

.switch .switch-wrapper input{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .switch-text{
  font-family: var(--fonte1);
  color: var(--cor6);
  font-size: .85rem;
  padding-bottom: 5px;  
}

.switch .switch-wrapper .switch-button::before{
  background-color: var(--cor1);
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  transition: .4s all ease;
}

.switch .switch-wrapper input:checked + .switch-button{
  background-color: var(--cor3);
}

.switch .switch-wrapper input:checked + .switch-button::before{
  transform: translateX(15px);
}

.label-detail .botao{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-detail #confirma button{
  background-color: var(--cor3);
  font-family: var(--fonte5);
  color: var(--cor2);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 263px;
  padding: 5px;
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}

.label-detail #termo{
  display: flex;
  flex-direction: row;
}

.label-detail #termo button{
  background-color: var(--cor6);
  font-family: var(--fonte2);
  color: var(--cor2);
  font-weight: bold;
  border: none;
  width: 125px;
  padding: 5px;
  margin: 5px;
}

.label-detail #lista button{
  background-color: var(--cor2);
  font-family: var(--fonte3);
  color: var(--cor8);
  font-weight: bold;
  border: none;
  width: 263px;
  padding: 5px;
  margin: 5px;
}

/* --------- encomenda.html -------- */

.data-detail .label-detail .encomenda{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.data-detail .label-detail .encomenda li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor8);
  border-radius: 10px;
  margin: 7px -10px;
}

.data-detail .label-detail .encomenda li img{
  width: 10vw;
  background-color: var(--cor1);
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}

.data-detail .label-detail .encomenda li .enc-detail{
  margin-left: -5px;
}

.data-detail .label-detail .encomenda li .enc-detail h1{
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
  color: var(--cor1);
  padding: 0px;
}

.data-detail .label-detail .encomenda li .enc-detail p{
  font-size: .7rem;
  color: var(--cor1);
  text-align: left;
}

.data-detail .label-detail .encomenda .enc-time{
  margin-right: 5px;
}

.data-detail .label-detail .encomenda li .enc-time h1{
  font-size: .7rem;
  font-weight: bold;
  text-align: right;
  color: var(--cor6);
  padding-bottom: 2px;
}

.data-detail .label-detail .encomenda li .enc-time p{
  font-size: .55rem;
  color: var(--cor6);
  text-align: right;
  padding-top: 3px;
}

/* --------- vizinhos.html -------- */

.dem-detail .dem-menu .ativa {
  background-color: var(--cor1);
  padding: 10px 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--cor8);
  font-weight: bold;
}

.dem-detail .demandas .encomenda{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.dem-detail .demandas .encomenda li{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor8);
  border-radius: 10px;
  margin: 4px auto 4px auto;
  padding-bottom: 0px !important;
}

.dem-detail .demandas .encomenda li img{
  width: 8vw;
  background-color: var(--cor6);
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}

.dem-detail .demandas .encomenda li .enc-detail{
  margin-left: -5px;
}

.dem-detail .demandas .encomenda li .enc-detail h1{
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
  color: var(--cor1);
  padding: 0px;
}

.dem-detail .demandas .encomenda li .enc-detail p{
  width: 50vw;
  font-size: .7rem;
  color: var(--cor1);
  text-align: left;
}

.dem-detail .demandas .encomenda li img.enc-detail{
  width: 10vw;
  background-color: var(--cor8);
}

.dem-detail .demandas .encomenda .enc-time{
  margin-right: 5px;
}

.dem-detail .demandas .encomenda li .enc-time h1{
  font-size: .7rem;
  font-weight: bold;
  text-align: right;
  color: var(--cor6);
  padding-bottom: 2px;
}

.dem-detail .demandas .encomenda li .enc-time p{
  font-size: .55rem;
  color: var(--cor6);
  text-align: right;
  padding-top: 3px;
}



